<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7589884-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push( arguments );
        }
        gtag( 'js', new Date() );
        gtag( 'config', 'UA-7589884-1' );
    </script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="JazzHistoryDatabase"/>




    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/responsive.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/css/JHDB.css" type="text/css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Document Title
    ============================================= -->
    <title>Jazz History Database</title>

</head>

<body>

<!-- Document Wrapper
============================================= -->

<div id="wrapper" class="clearfix">



    <!-- Header
    ============================================= -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <div id="include" w3-include-html="https://global.jazzhistorydatabase.com/header-new.php">
            <?php
            include '../header-new.php';
            ?>
    </div>
    <script>
        if(window.location.href.match(/.*preview.*/gi)) {
            w3.includeHTML();
        }
    </script>
    {{header}}

    <!-- Page Title
    ============================================= -->
    <!-- Intro -->
    <style>
        #page-title {
            padding: 0 0;
        }

        img.resize {
            width: auto;
            /* you can use % */
            height: 300px;
        }

        a.resize {
            max-height: 300px;
            height: 300px;
        }

        li>a {
            cursor: pointer;
        }

        p.caption {
            height: 60px;
            font-size: 18px;
            display: table-cell;
            vertical-align: middle;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        #page-menu.sticky-page-menu #page-menu-wrap {
            top: 60px;
        }

        .portfolio-item {
            margin-top: 10px;
        }

        .portfolio-desc {
            margin-top: 0px;
            padding: 15px;
            background-color: #333333;
            border-top: #19ABFF solid 3px;
        }

        .portfolio-desc h7 {
            color: white;
        }

        .biophoto, .portfolio-image {
            border-radius: 5px;
            border: solid 1px whitesmoke;
        }

        .biophoto {
            margin-left: 20px; 
            margin-bottom: 20px;
            width: 500px;
            max-width: 100%;
        }

        audio {
            width: 100%;
            height: 55px;
        }

    </style>


    <!-- Content
    ============================================= -->
    <section id="content">
        <!-- Collection nav bar start-->
        <div id="page-menu">
            <div id="page-menu-wrap">
                <div class="container clearfix">
                    <div class="menu-title" style="cursor:pointer;" onclick="goToByScroll('section-bio')"> {{name}} Collection </div>
                    <nav>
                        <ul>
                            <li>
                                <a onclick="goToByScroll('bio')">
                                    <div>Biography</div>
                                </a>
                            </li>

                            <li>
                                <a onClick="goToByScroll('images')">
                                    <div>Images</div>

                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
                </div>
            </div>
        </div>
        <!-- Collection nav bar end -->
        <!-- Content Wrap starts -->
        <div class="content-wrap">
            <!-- Bio -->
            <div class="row common-height clearfix">
                <div class="col-sm-12 col-padding">
                    <div class="fancy-title title-bottom-border" id="bio">
                        <h2>{{bioPrefix}}{{ name }} </h2>
                    </div>
                    <!-- Insert bio -->
                    <div class="container clearfix" style=" padding-top: 20px;">
                        <div class="col-sm-12">
                            {{#if bioUrl}}
                                <img class="biophoto" width="500" align="right" src={{ bioUrl }}>
                            {{/if}}
                            {{{description}}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Images Section -->

            {{#if images}}
                <div class="row common-height clearfix">
                    <div class="col-sm-12 col-padding">
                        <div class="fancy-title title-bottom-border">
                            <h2>{{imagesTitle}}</h2>
                        </div>
                        <section id="images">
                            <div class="container clearfix"  style="padding-top: 20px">
                                <!-- Portfolio Items
                                ============================================= -->
                                <div id="pf-images" class="portfolio grid-container portfolio-masonry clearfix" data-lightbox="gallery">
                                    {{#each images }}
                                        <article style="min-width: 25%;" class="portfolio-item">
                                            <div class="portfolio-image">
                                                <a href="#">
                                                    <img src="{{url}}" alt="{{caption}}">
                                                </a>
                                                <div class="overlay">
                                                    <div class="overlay-wrap">
                                                        <a href="{{url}}" data-lightbox="gallery-item" class="center-icon"><i class="icon-line2-magnifier-add"></i></a>
                                                    </div>
                                                </div>
                                                {{#if caption}}
                                                <div class="portfolio-desc">
                                                    <h7>{{caption}}</h7>
                                                </div>
                                                {{/if}}
                                            </div>
                                        </article>
                                    {{/each}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            {{/if}}

            <!-- Audio Section -->

            {{#if audio}}
                <div class="row common-height clearfix">
                    <div class="col-sm-12 col-padding">
                        <div class="fancy-title title-bottom-border">
                            <h2>{{audioTitle}}</h2>
                        </div>
                        <section id="audio">
                            <div class="container clearfix"  style="padding-top: 20px">
                                <!-- Portfolio Items
                                ============================================= -->
                                <div id="pf-audio" class="portfolio grid-container portfolio-masonry clearfix">
                                    {{#each audio }}
                                        <article style="min-width: 25%;" class="portfolio-item">
                                            <div class="portfolio-image">
                                                <div style="background-color: #333333; padding-left: 10px; padding-right: 10px; padding-bottom: 5px;">
                                                    <audio controls style="height: 60px; width: 100%">
                                                        <source src={{url}} type="audio/mp3">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <h7>{{caption}}</h7>
                                                </div>
                                                {{!-- {{/if}} --}}
                                            </div>
                                        </article>
                                    {{/each}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            {{/if}}

            <!-- Video Section -->

            {{#if video}}
                <div class="row common-height clearfix">
                    <div class="col-sm-12 col-padding">
                        <div class="fancy-title title-bottom-border" id="images">
                            <h2>{{videosTitle}}</h2>
                        </div>
                        <section id="videos">
                            <div class="container clearfix"  style="padding-top: 20px">
                                <!-- Portfolio Items
                                ============================================= -->
                                <div id="pf-videos" class="portfolio grid-container portfolio-masonry clearfix">
                                    {{#each video }}
                                        <article style="min-width: 50%;" class="portfolio-item">
                                            <div class="portfolio-image">
                                                <a href="#">
                                                    <img src="{{thumbnail}}" alt="{{caption}}">
                                                </a>
                                                <div class="overlay">
                                                    <div class="overlay-wrap">
                                                        <a href="{{url}}" data-lightbox="iframe" class="center-icon"><i class="icon-youtube-play"></i></a>
                                                    </div>
                                                </div>
                                                {{#if caption}}
                                                <div class="portfolio-desc">
                                                    <h7>{{caption}}</h7>
                                                </div>
                                                {{/if}}
                                            </div>
                                        </article>
                                    {{/each}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            {{/if}}
        </div>
    </section>
</div>
</div>
<!-- Footer
    ============================================= -->
<?php
include '../footer-new.php';
?>
{{footer}}



<!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/jquery.js"></script>
<script type="text/javascript" src="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/plugins.js"></script>
<script>
    function goToByScroll( id ) {
        $( 'html,body' ).animate( {
            scrollTop: $( "#" + id ).offset().top - 115
        }, 'slow' );
    }
</script>
<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="https://www.jazzhistorydatabase.com/scripts/canvas/HTML/js/functions.js"></script>

</body>
</html>